<!DOCTYPE html>
<html lang="en" ng-app="dynamicTreeDemoApp">
	<head>
		<meta charset="UTF-8">
		<title>VirtoCommerce dynamic expression builder. Sample</title>

		<link href='http://fonts.googleapis.com/css?family=Exo+2:400,300,500,600,400italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/main.css">

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/underscore/underscore-min.js"></script>
        <script src="bower_components/ng-context-menu/dist/ng-context-menu.min.js"></script>

        <script src="Scripts/expressionClient/dynamicTreeDemoApp.js"></script>
        <script src="Scripts/expressionClient/dynamicTreeClientController.js"></script>
        <script src="Scripts/expressionCore/expression-directives.js"></script>        
        <script src="Scripts/common/filters.js"></script>
        <script src="Scripts/common/left-click-menu.js"></script>
        <script src="Scripts/common/smartFloat.js"></script>
	</head>
	<body ng-controller="dynamicTreeClientCtrl">
		<div class="left">
			<div class="dynamic-expression">
                <va-dynamic-expression-tree source="dynamicExpression"></va-dynamic-expression-tree>
                <button class="button" ng-click="refresh()">Apply</button>
                <button class="button" ng-click="saveExpression()">Save</button>
                <button class="button" ng-click="loadExpression()">Restore</button>             
           </div>	
		</div>        
		<div class="right">
			<div class="table-wrap">
				<table>
					<thead>
						<tr>
							<th>First name</th>
							<th>Last Name</th>
							<th>Date of birth</th>
							<th>Gender</th>
							<th>Orders count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in entities">
							<td>{{data.FirstName}}</td>
							<td>{{data.LastName}}</td>
							<td>{{data.BirthDate | date:'short'}}</td>
							<td>{{data.Gender}}</td>
							<td>{{data.OrdersCount}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</body>
</html>