################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConditionExpressionsDemo/bin
/ConditionExpressionsDemo/obj
/packages
/ConditionExpressionsDemo/bower_components
