################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DynamicExpressionsSample/bin
/DynamicExpressionsSample/obj
/packages
/DynamicExpressionsSample/bower_components
