<!DOCTYPE html>
<html lang="en" ng-app="dynamicTreeDemoApp">
	<head>
		<meta charset="UTF-8">
		<title>Dynamic expression</title>

		<link href='http://fonts.googleapis.com/css?family=Exo+2:400,300,500,600,400italic&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/main.css">
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="Scripts/app.js"></script>
        <script src="Scripts/tree/expression-directives.js"></script>
        <script src="Scripts/dynamicExpression.js"></script>
        <script src="Scripts/dynamicTree.js"></script>
	</head>
	<body ng-controller="dynamicTreeCtrl">
		<div class="left">
			<div class="dynamic-expression">
                <va-dynamic-expression-tree source="dynamicExpression"></va-dynamic-expression-tree>
	            <!--<div class="dynamic-expression_t">Construct dynamic expression to filter customers</div>
	            <div class="dynamic-expression_b">
	                <ul class="list">
	                    <li class="list-item">
	                        <i class="list-ico fa fa-times-circle"></i>
	                        <div class="list-descr">
	                        	Меня зовут
	                        </div>
	                        <div class="form-input __mini">
	                        	<input type="text" value="Вася">
	                        </div>
	                    </li>
	                    <li class="list-item">
	                    	<i class="list-ico fa fa-times-circle"></i>
	                    	<div class="list-descr">Фамилия</div>
	                        <div class="form-input __mini">
	                        	<input type="text" value="Пупкин">
	                        </div>
	                    </li>
	                    <li class="list-item">
	                    	<i class="list-ico fa fa-times-circle"></i>
	                        <div class="list-descr">Дата рождения</div>
	                        <div class="form-input __mini">
	                        	<input type="text" value="06.06.1990">
	                        </div>
	                	</li>
	                	<li class="list-item">
	                    	<i class="list-ico fa fa-times-circle"></i>
	                        <div class="list-descr">Пол</div>
	                        <div class="form-input __mini">
	                        	<select>
	                        		<option>Женский</option>
	                        		<option selected>Мужской</option>
	                        	</select>
	                        </div>
	                	</li>
	                	<li class="list-item">
	                		<i class="list-ico fa fa-times-circle"></i>
	                		<div class="list-descr">Количество заказов</div>
	                        <a class="link">больше</a>
	                        <div class="form-input __mini">
	                        	<input type="text" value="5">
	                        </div>
	                	</li>
	                </ul>
	                <a class="add __link __usergroup">Add usergroup</a>	                
	            </div>-->
                <button class="button" ng-click="refresh()">Test expression!</button>
	        </div>			
		</div>
		<div class="right">
			<div class="table-wrap">
				<table>
					<thead>
						<tr>
							<th>First name</th>
							<th>Last Name</th>
							<th>Date of birth</th>
							<th>Gender</th>
							<th>Orders count</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in entities">
							<td>{{data.FirstName}}</td>
							<td>{{data.LastName}}</td>
							<td>{{data.BirthDate | date:'short'}}</td>
							<td>{{data.Gender}}</td>
							<td>{{data.OrdersCount}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</body>
</html>